.app.dark {
    --bg-color: #1d1d47;
    --inverted-bg-color: #e8e8ea;
    --primary-color: #d1e3d1;
    --secondary-color: #04ff04;
    --inverted-primary-color: #4975f9;
    --inverted-secondary-color: #474f60;
}
