:root {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #1d1d47;

  --primary-color: #4975f9;
  --secondary-color: #0449e0;
  --inverted-primary-color: #d1e3d1;
  --inverted-secondary-color: #04ff04;
}
